.CardList {
    right: 20px;
    position: absolute;
    top: 60px;
    left: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    padding-top: 0px;
    height: 100%;
}
@media (max-width: 480px) {
    .CardList {
        top: 120px;
        left: 5px;
        right: 5px;
    }
}
